@using TradeAdvisor.Models
<section id="nav_abas">
    <div class="gray_back">
            
        <div class="navegacao_abas" data-uk-sticky="{top:-80, animation: 'uk-animation-slide-top'}">
            <div class="uk-container uk-container-center">
                <ul data-uk-switcher="{connect:'#my-id', animation: 'uk-animation-fade, uk-animation-slide-left'}">
                    <li><a href="">Produtos Importados</a></li>
                    <li><a href="">Documentos</a></li>
                    @*<li><a href="">Empresas</a></li>
                    <li><a href="">NCMs</a></li>
                    <li><a href="">Pessoas</a></li>*@
                </ul>
                <div id="searchStringHeader" style="height: 30px;padding: 10px;font-size:14px;"></div>
            </div>

        </div>

        <div class="uk-container uk-container-center">
            <!-- This is the container of the content items -->
            <ul id="my-id" class="uk-switcher">

                <!--Produtos importados-->
                <li>
                    <div class="pading_block">
                        <div class="uk-grid uk-grid-small">


                            <div class="uk-width-small-1-1">
                                <div id="abaNcms" class="card_style" style="height: 500px">
                                    <!--//graficos 1 aba 4-->
                                        <div style="float: left;font-size:24px;width: 150px;padding-right: 0px;color: #444444;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight: normal;">
                                            Total de NCMs
                                        </div>
                                        <div id="ncmDescID" style="float: right;margin: 5px;width: 60%;height: 50px;padding-top: 0px;font-size:20px;color: #0077dd;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight: normal;"></div>                                       
                                        <div style="float: left;margin: 5px;width: 40%">
                                            <ul class="uk-tab" data-uk-switcher="{connect:'#produtos_abas1', animation: 'uk-animation-fade,uk-animation-fade'}">
                                                <li><a href="">Valor ($)</a></li>
                                                <li><a href="">Quantidade</a></li>
                                            </ul>
                                        </div>
                                        <ul id="produtos_abas1" class="uk-switcher">
                                            <li>
                                                <!--//grafico 1.1 aba 4-->
                                                <div id="produtos_1_1" class="graficos_responsivos" ></div>
                                            </li>
                                            <li>
                                                <!--//grafico 1.2 aba 4-->
                                                <div id="produtos_1_2" class="graficos_responsivos" ></div>
                                            </li>
                                        </ul>

                                </div>
                            </div>


                            @*<div class="uk-width-small-1-1">
                                <div class="transparent_card">

                                    <!--//filtro NCM's-->
                                    <div class="uk-grid uk-grid-small">
                                        <h3 class="uk-width-small-1-1 uk-width-medium-5-10" style="padding-top:12px;">Selecione a(s) NCM(s) desejada(s):</h3>
                                        <div class="uk-width-small-1-1 uk-width-medium-4-10">
                                            <form class="uk-form">
                                                <div class="uk-grid uk-grid-collapse">

                                                    <div class="uk-width-5-6 uk-width-medium-9-10">
                                                        <input class="input_busca uk-width-1-1" type="text" placeholder="Pesquisa">
                                                    </div>

                                                    <div class="uk-width-1-6 uk-width-medium-1-10">
                                                        <button class="button_busca2 uk-width-1-1"><i class="uk-icon-search"></i></button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="uk-width-small-1-1 uk-width-medium-1-10">
                                            <button class="uk-button uk-width-1-1" data-uk-toggle="{target:'#ncm_filter', animation:'uk-animation-slide-left, uk-animation-slide-bottom'}">
                                                <i class="uk-icon-angle-down uk-icon-large"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-hidden" id="ncm_filter">

                                    <header class="uk-width-small-1-1 uk-hidden-small">
                                        <div class="header_cards">
                                            <div class="uk-grid uk-grid-small">
                                                <div class="title_card uk-width-small-1-10">

                                                </div>
                                                <div class="title_card uk-width-small-1-10">
                                                    Código
                                                </div>
                                                <div class="title_card uk-width-small-4-10">
                                                    Descrição
                                                </div>
                                                <div class="title_card uk-width-small-2-10">
                                                    Resultados
                                                </div>
                                                <div class="title_card uk-width-small-2-10">
                                                    Valor($)
                                                </div>
                                            </div>
                                        </div>
                                    </header>

                                    @foreach (var ncm in @Model.Select(c => c.ncm).Distinct().ToList())
                                        {@
                                    <div class="uk-width-small-1-1">
                                        <div class="card_style uk-grid uk-grid-small">

                                            <div class="uk-width-small-1-10">

                                                <a class="uk-visible-small mais_info" data-uk-toggle="{target:'#mais_info_filter', animation:'uk-animation-slide-left, uk-animation-slide-bottom'}">
                                                    <i class="uk-icon-plus-square"></i>
                                                </a>

                                                <form class="uk-form">
                                                    <fieldset data-uk-margin>
                                                        <label><input type="checkbox"></label>
                                                    </fieldset>
                                                </form>

                                            </div>

                                            <div class="uk-width-small-1-10">
                                                <span class="uk-visible-small title_card">
                                                    Código
                                                </span>
                                                CÓDIGO NCM

                                            </div>

                                            <div class="uk-width-small-6-10 uk-hidden-small">
                                                Descricao NCM
                                            </div>


                                            <div class="uk-width-small-1-10 uk-hidden-small">
                                                Sum(c => c.valor_total_produto_dolar))
                                            </div>

                                            <div class="uk-width-small-1-10 uk-hidden-small">
                                                xx
                                            </div>


                                            <div id="mais_info_filter" class="uk-grid uk-hidden uk-grid-small uk-width-small-8-10">
                                                    <div class="uk-width-small-3-5">
                                                        <span class="uk-visible-small title_card">
                                                            Descrição
                                                        </span>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                                                    </div>


                                                    <div class="uk-width-small-1-5">
                                                        <span class="uk-visible-small title_card">
                                                            Resultados
                                                        </span>
                                                        10
                                                    </div>

                                                    <div class="uk-width-small-1-5">
                                                        <span class="uk-visible-small title_card">
                                                            Valor($)
                                                        </span>
                                                        xx
                                                    </div>

                                                </div>

                                        </div>

                                    </div>


                                </div>*@



                                <div class="uk-width-small-1-1">
                                    <div class="card_style">
                                        <!--//graficos 2 aba 4-->
                                        <h3>Total de Produtos Importados x País de Aquisição</h3>
                                        <ul class="uk-tab" data-uk-switcher="{connect:'#produtos_abas2', animation: 'uk-animation-fade,uk-animation-fade'}">
                                            <li><a href="">Valor ($)</a></li>
                                            <li><a href="">Quantidade</a></li>
                                        </ul>

                                        <ul id="produtos_abas2" class="uk-switcher">
                                            <li>
                                                <!--//grafico 2.1 aba 4-->
                                                <div id="produtos_2_1" class="graficos_responsivos"></div>
                                            </li>
                                            <li>
                                                <!--//grafico 2.2 aba 4-->
                                                <div id="produtos_2_2" class="graficos_responsivos"></div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>


                                <div class="uk-width-small-1-1">
                                    <div class="card_style">
                                        <!--//graficos 3 aba 4-->
                                        <h3>Total de Produtos Importados x País de Origem</h3>
                                        <ul class="uk-tab" data-uk-switcher="{connect:'#produtos_abas3', animation: 'uk-animation-fade,uk-animation-fade'}">
                                            <li><a href="">Valor ($)</a></li>
                                            <li><a href="">Quantidade</a></li>
                                        </ul>

                                        <ul id="produtos_abas3" class="uk-switcher">
                                            <li>
                                                <!--//grafico 3.1 aba 4-->
                                                <div id="produtos_3_1" class="graficos_responsivos"></div>
                                            </li>
                                            <li>
                                                <!--//grafico 3.2 aba 4-->
                                                <div id="produtos_3_2" class="graficos_responsivos"></div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>



                                <div class="uk-width-small-1-1">
                                    <div class="card_style">

                                        @*<div class="uk-width-1-1 text_right">
                                            <form class="uk-form">
                                                De: <input class="date_input" placeholder="selecione a data" type="" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                                a <input class="date_input" placeholder="selecione a data" type="" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                            </form>
                                        </div>*@
                                        <!--//grafico 4 aba 4-->
                                        <div id="produtos_4" class="graficos_responsivos"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </li>

                <!--Documentos-->
                <li>
                    <div class="pading_block">
                        <div class="uk-grid uk-grid-small">

                            @*<div class="uk-width-small-1-1">
                                <div class="card_style">
                                    <!--//grafico 1 aba 2-->
                                    <div id="documentos_1" class="graficos_responsivos"></div>
                                </div>
                            </div>*@

                            <div class="uk-width-small-1-1">
                                <div class="card_style">
                                    <!--//grafico 2 aba 2-->
                                    <div id="documentos_2" class="graficos_responsivos"></div>
                                    <div id="table_graf"></div>
                                </div>
                            </div>

                            <div class="uk-width-small-1-1">
                                <div class="card_style">
                                    @*<div class="uk-width-1-1 text_right">
                                        <form class="uk-form">
                                            De: <input class="date_input" placeholder="selecione a data" type="" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                            a <input class="date_input" placeholder="selecione a data" type="" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                        </form>
                                    </div>*@
                                    <!--//grafico 3 aba 2-->
                                    <div id="documentos_3" class="graficos_responsivos"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>

                <!--Empresas-->
                @*<li>
                    <div class="pading_block">
                        <div class="uk-grid uk-grid-small" data-uk-grid="{gutter: 20}">

                            <div class="uk-width-small-1-1">
                                <div class="card_style">
                                    <!--//grafico 1 aba 1-->

                                    <div id="container_1" class="graficos_responsivos"></div>
                                </div>
                            </div>

                            <div class="uk-width-small-1-1">
                                <div class="card_style">
                                    <!--//grafico 2 aba 1-->

                                    <div id="container_2" class="graficos_responsivos"></div>
                                </div>
                            </div>

                            <div class="uk-width-small-1-1">
                                <div class="card_style">
                                    <h3>Volume Importado x Localização</h3>

                                    <!--mapa exemplo-->
                                    <script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>

                                    <script>

                                        google.maps.event.addDomListener(window, 'load', init);
                                        var map;
                                        function init() {
                                            var mapOptions = {
                                                center: new google.maps.LatLng(40.830437, -4.552003),
                                                zoom: 3,
                                                zoomControl: true,
                                                zoomControlOptions: {
                                                    style: google.maps.ZoomControlStyle.DEFAULT,
                                                },
                                                disableDoubleClickZoom: true,
                                                mapTypeControl: true,
                                                mapTypeControlOptions: {
                                                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                                },
                                                scaleControl: true,
                                                scrollwheel: false,
                                                panControl: true,
                                                streetViewControl: true,
                                                draggable: false,
                                                overviewMapControl: true,
                                                overviewMapControlOptions: {
                                                    opened: false,
                                                },
                                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                                styles: [{ "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#e0efef" }] }, { "featureType": "poi", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "hue": "#1900ff" }, { "color": "#c0e8e8" }] }, { "featureType": "road", "elementType": "geometry", "stylers": [{ "lightness": 100 }, { "visibility": "simplified" }] }, { "featureType": "road", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit.line", "elementType": "geometry", "stylers": [{ "visibility": "on" }, { "lightness": 700 }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#7dcdcd" }] }],
                                            }
                                            var mapElement = document.getElementById('map_ex');
                                            var map = new google.maps.Map(mapElement, mapOptions);
                                            var locations = [

                                            ];
                                            for (i = 0; i < locations.length; i++) {
                                                if (locations[i][1] == 'undefined') { description = ''; } else { description = locations[i][1]; }
                                                if (locations[i][2] == 'undefined') { telephone = ''; } else { telephone = locations[i][2]; }
                                                if (locations[i][3] == 'undefined') { email = ''; } else { email = locations[i][3]; }
                                                if (locations[i][4] == 'undefined') { web = ''; } else { web = locations[i][4]; }
                                                if (locations[i][7] == 'undefined') { markericon = ''; } else { markericon = locations[i][7]; }
                                                marker = new google.maps.Marker({
                                                    icon: markericon,
                                                    position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                                                    map: map,
                                                    title: locations[i][0],
                                                    desc: description,
                                                    tel: telephone,
                                                    email: email,
                                                    web: web
                                                });
                                                link = '';
                                            }

                                        }
                                    </script>
                                    <style>
                                        #map_ex {
                                            height: 400px;
                                            width: 100%px;
                                        }

                                        .gm-style-iw * {
                                            display: block;
                                            width: 100%;
                                        }

                                        .gm-style-iw h4, .gm-style-iw p {
                                            margin: 0;
                                            padding: 0;
                                        }

                                        .gm-style-iw a {
                                            color: #4272db;
                                        }
                                    </style>

                                    <div id='map_ex'></div>
                                    <!--fim mapa-->

                                </div>
                            </div>

                        </div>
                    </div>
                </li>*@

                <!--NCM's-->
                @*<li>
                    <div class="pading_block">
                        <div class="uk-grid uk-grid-small">

                            <div class="uk-width-small-1-2 uk-width-medium-2-3">
                                <h2 class="total_busca">Total: <span>2939203</span></h2>
                            </div>
                            <div class="uk-width-small-1-2 uk-width-medium-1-3">
                                <form class="uk-form">
                                    <div class="uk-grid uk-grid-collapse">
                                        <div class="uk-width-5-6 uk-width-medium-8-10">
                                            <input class="input_busca uk-width-1-1" type="text" placeholder="Busque por...">
                                        </div>
                                        <div class="uk-width-1-6 uk-width-medium-2-10">
                                            <button class="button_busca2 uk-width-1-1"><i class="uk-icon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <header class="uk-width-small-1-1 uk-hidden-small">
                                <div class="header_cards">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="title_card uk-width-small-2-10">
                                            Código
                                        </div>
                                        <div class="title_card uk-width-small-4-10">
                                            Descrição
                                        </div>
                                        <div class="title_card uk-width-small-2-10">
                                            Alíquota
                                        </div>
                                        <div class="title_card uk-width-small-2-10">
                                            Licença de Importação
                                        </div>
                                    </div>
                                </div>
                            </header>

                            @foreach (var ncm in @Model.Select(c => c.ncm).Distinct())
                                {
                            <div class="uk-width-small-1-1">
                                <div class="card_style uk-grid uk-grid-small">
                                    <div class="uk-width-small-2-10">
                                        <a class="uk-visible-small mais_info" data-uk-toggle="{target:'#mais_info', animation:'uk-animation-slide-left, uk-animation-slide-bottom'}">
                                            <i class="uk-icon-plus-square"></i>
                                        </a>
                                        <span class="uk-visible-small title_card">
                                            Código
                                        </span>
                                        000111.11

                                    </div>

                                    <div class="uk-width-small-4-10 uk-hidden-small">
                                        DESCRICAO NCM
                                    </div>


                                    <div class="uk-width-small-2-10 uk-hidden-small">
                                        <strong>IPI:</strong> Average(c => Decimal.Parse(c.ALIQUOTA_IPI))% <br>
                                        <strong>II:</strong> Average(c => Decimal.Parse(c.ALIQUOTA_II))% <br>
                                        <strong>PIS:</strong> Average(c => Decimal.Parse(c.ALIQUOTA_PIS_ADVAL))%<br />
                                        <strong>COFINS:</strong> Average(c => Decimal.Parse(c.ALIQUOTA_COFINS_ADVAL))%<br />
                                    </div>
                                    <div class="uk-width-small-2-10 uk-hidden-small">
                                        <a href="#" class="tag_licenca">
                                            Licença de Importação
                                        </a>
                                    </div>


                                    <div id="mais_info" class="uk-grid uk-hidden uk-grid-small uk-width-small-8-10">
                                        <div class="uk-width-small-3-5">
                                            <span class="uk-visible-small title_card">
                                                Descrição
                                            </span>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                                        </div>


                                        <div class="uk-width-small-1-5">
                                            <span class="uk-visible-small title_card">
                                                Alíquota
                                            </span>
                                            <strong>IPI:</strong> XX% <br>
                                            <strong>II:</strong> XX% <br>
                                            <strong>PIS/COFINS:</strong> XX%
                                        </div>
                                        <div class="uk-width-small-1-5">
                                            <span class="uk-visible-small title_card">
                                                Licença de Importação
                                            </span>
                                            <a href="#" class="tag_licenca">
                                                Licença de Importação
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="uk-width-small-1-1">
                                    <div class="card_style uk-grid uk-grid-small">
                                        <div class="uk-width-small-2-10">
                                            <a class="uk-visible-small mais_info" data-uk-toggle="{target:'#mais_info', animation:'uk-animation-slide-left, uk-animation-slide-bottom'}">
                                                <i class="uk-icon-plus-square"></i>
                                            </a>
                                            <span class="uk-visible-small title_card">
                                                Código
                                            </span>
                                            3573794

                                        </div>

                                        <div class="uk-width-small-4-10 uk-hidden-small">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                                        </div>


                                        <div class="uk-width-small-2-10 uk-hidden-small">
                                            <strong>IPI:</strong> XX% <br>
                                            <strong>II:</strong> XX% <br>
                                            <strong>PIS/COFINS:</strong> XX%
                                        </div>
                                        <div class="uk-width-small-2-10 uk-hidden-small">
                                            <a href="#" class="tag_licenca">
                                                Licença de Importação
                                            </a>
                                            <a href="#" class="tag_licenca">
                                                Tag teste
                                            </a>
                                        </div>


                                        <div id="mais_info" class="uk-grid uk-hidden uk-grid-small uk-width-small-8-10">
                                            <div class="uk-width-small-3-5">
                                                <span class="uk-visible-small title_card">
                                                    Descrição
                                                </span>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                                            </div>


                                            <div class="uk-width-small-1-5">
                                                <span class="uk-visible-small title_card">
                                                    Alíquota
                                                </span>
                                                <strong>IPI:</strong> XX% <br>
                                                <strong>II:</strong> XX% <br>
                                                <strong>PIS/COFINS:</strong> XX%
                                            </div>
                                            <div class="uk-width-small-1-5">
                                                <span class="uk-visible-small title_card">
                                                    Licença de Importação
                                                </span>
                                                <a href="#" class="tag_licenca">
                                                    Licença de Importação
                                                </a>
                                                <a href="#" class="tag_licenca">
                                                    Tag teste
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                        </div>
                    </div>
                </li>*@




                <!--Pessoas-->
                @*<li>
                    <div class="pading_block">
                        <div class="uk-grid uk-grid-small">




                            <div class="uk-width-small-1-2 uk-width-medium-2-3">
                                <h2 class="total_busca">Total: <span>2939203</span></h2>
                            </div>
                            <div class="uk-width-small-1-2 uk-width-medium-1-3">
                                <form class="uk-form">
                                    <div class="uk-grid uk-grid-collapse">
                                        <div class="uk-width-5-6 uk-width-medium-8-10">
                                            <input class="input_busca uk-width-1-1" type="text" placeholder="Busque por...">
                                        </div>
                                        <div class="uk-width-1-6 uk-width-medium-2-10">
                                            <button class="button_busca2 uk-width-1-1"><i class="uk-icon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <header class="uk-width-small-1-1 uk-hidden-small">
                                <div class="header_cards">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="title_card uk-width-small-4-10">
                                            Nome
                                        </div>
                                        <div class="title_card uk-width-small-3-10">
                                            CPF
                                        </div>
                                        <div class="title_card uk-width-small-3-10">
                                            E-mail
                                        </div>
                                    </div>
                                </div>
                            </header>



                            <div class="uk-width-small-1-1">
                                <div class="card_style uk-grid uk-grid-small">
                                    <div class="uk-width-small-4-10">
                                        <span class="title_card uk-visible-small">Nome</span>
                                        José Silva
                                    </div>
                                    <div class="uk-width-small-3-10">
                                        <span class="title_card uk-visible-small">CPF</span>
                                        000.000.000-00
                                    </div>
                                    <div class="uk-width-small-3-10">
                                        <span class="title_card uk-visible-small">E-mail</span>
                                        contato@jose.com.br
                                    </div>

                                </div>
                            </div>


                            <div class="uk-width-small-1-1">
                                <div class="card_style uk-grid uk-grid-small">
                                    <div class="uk-width-small-4-10">
                                        <span class="title_card uk-visible-small">Nome</span>
                                        José Silva
                                    </div>
                                    <div class="uk-width-small-3-10">
                                        <span class="title_card uk-visible-small">CPF</span>
                                        000.000.000-00
                                    </div>
                                    <div class="uk-width-small-3-10">
                                        <span class="title_card uk-visible-small">E-mail</span>
                                        contato@jose.com.br
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </li>*@
            </ul>

        </div>

    </div>

</section>

<script type="text/javascript">
    $(document).ready(function () {
        updateSearchHeader('/services/ConsultaDadosGraficos.asmx/AtualizaBuscaHeader', '{"descricao":"@Request["descricao_detalhada_produto"]"}');
        RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaDadosPorNcmValor', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'produtos_1_1', 'Valor', false);
        RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaDadosPorNcmQtde', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'produtos_1_2', 'Quantidade', true);
        RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaDadosPorPaisAquisicaoValor', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'produtos_2_1', 'Valor', false);
        RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaDadosPorPaisAquisicaoQtde', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'produtos_2_2', 'Quantidade', true);
        RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaDadosPorPaisOrigemValor', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'produtos_3_1', 'Valor', false);
        RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaDadosPorPaisOrigemQtde', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'produtos_3_2', 'Quantidade', true);
        RequestPostGraficoBarra('/services/ConsultaDadosGraficos.asmx/ConsultaDadosPorMesAnoQtde', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'produtos_4', 'Quantidade de Produtos Importados x Período');
        //RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaElasticSearchDocCompanyQtde', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'documentos_1', 'Quantidade de Documentos Total x Empresa', true);
        RequestPostGraficoTreemap('/services/ConsultaDadosGraficos.asmx/ConsultaDadosDIQtde', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'documentos_2', 'Quantidade de Documentos x Tipo', true);
        RequestPostGraficoBarraStacked('/services/ConsultaDadosGraficos.asmx/ConsultaElasticSearchCountQtdeDocuments', '{"descricao":"@Request["descricao_detalhada_produto"]"}', 'documentos_3', 'Quantidade de Documentos x Período');
    });

</script>

<script type="text/javascript">
    function RequestPostGraficoTreemap(url, parametros, nm_grafico, text, isqtde) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: parametros,
            dataType: "json",
            success: function (Result) {
                Result = Result.d;
                var dataGrafNcm = [];
                for (var i in Result) {

                    var serie = {};
                    serie.name = Result[i].name;
                    if (isqtde) {
                        serie.value = Result[i].qtde;
                        serie.colorValue = Result[i].qtde;
                        if (Result[i].url != null)
                            serie.ownURL = Result[i].url;
                        if (Result[i].desc != null)
                            serie.ownDESC = Result[i].desc;
                    }
                    else {
                        serie.value = Result[i].valor;
                        serie.colorValue = Result[i].valor;
                        if (Result[i].url != null)
                            serie.ownURL = Result[i].url;
                        if (Result[i].desc != null)
                            serie.ownDESC = Result[i].desc;
                    }

                    dataGrafNcm.push(serie);
                }
                if (isqtde)
                    DreawChartTreemap(dataGrafNcm, nm_grafico, text, '');
                else
                    DreawChartTreemap(dataGrafNcm, nm_grafico, text, '$');
            },
            error: function (Result) {
                console.log("Houve um erro ao cerregar dados para o gráfico.");
            }
        });
    }
    function RequestPostGraficoBarra(url, parametros, nm_grafico, text) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: parametros,
            dataType: "json",
            success: function (Result) {
                Result = Result.d;
                var dataGraf = [];
                var categoriaGraf = [];
                for (var i in Result) {

                    categoriaGraf.push(Result[i].name);
                    dataGraf.push(Result[i].qtde);
                }

                DreawChartBarra(categoriaGraf, dataGraf, nm_grafico, text, '', 'Quantidade');
            },
            error: function (Result) {
                console.log("Houve um erro ao cerregar dados para o gráfico.");
            }
        });
    }

    function inserPosicaoCorreta(obj, name, novovalor, data) {
        var pos = name.indexOf(obj);
        var datatemp = [];

        if (pos > -1 && data.length > 0 && data.length >= pos && data[pos] == 0) {
            for (var i in data) {
                if (i == pos) {
                    datatemp.push(novovalor);
                } else
                    datatemp.push(data[i]);
            }
            data = datatemp;
        } else
            data.push(novovalor);
        return data;

    }
    function RequestPostGraficoBarraStacked(url, parametros, nm_grafico, text) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: parametros,
            dataType: "json",
            success: function (Result) {
                Result = Result.d;
                var dataGraf = [];
                var categoriaGraf = [];
                var stackedGraf = [];
                var res2 = Result;
                var name = [];
                var data = [];
                for (var i in Result) {
                    categoriaGraf.push(Result[i].eventdate);
                    var namesub = [];
                    var datasub = [];
                    for (var x in res2) {
                        if (res2[x].eventdate == Result[i].eventdate) {
                            if (!contains(namesub, res2[x].name)) {
                                namesub.push(res2[x].name);
                            }
                            datasub = inserPosicaoCorreta(res2[x].name, namesub, res2[x].qtde, datasub);
                        }
                        else {
                            if (!contains(namesub, res2[x].name)) {
                                namesub.push(res2[x].name);
                                datasub.push(0);
                            }
                        }
                    }

                    if (namesub.length > 0)
                        name.push(namesub);
                    if (datasub.length > 0)
                        data.push(datasub);
                }

                var resfull = [];
                for (var a in categoriaGraf) {
                    resfull[categoriaGraf]

                }
                //converting data to plot
                for (var i in name[0]) {
                    var serie = {};
                    serie.name = name[0][i];
                    var tempdata = [];
                    for (var y in data) {
                        tempdata.push(data[y][i]);
                    }
                    serie.data = tempdata;
                    dataGraf.push(serie);
                }
                DreawChartBarraStacked(categoriaGraf, dataGraf, nm_grafico, text, '', "Quantidade");
            },
            error: function (Result) {
                console.log("Houve um erro ao cerregar dados para o gráfico.");
            }
        });
    }

    function contains(lista, obj) {
        if (lista.length == 0) {
            return false;
        }
        for (var i = 0; i < lista.length; i++) {
            if (lista[i] === obj) {
                return true;
            }
        }
        return false;
    }

    function DreawChartTreemap(series, nm_grafico, text, simbolo) {
        $('#' + nm_grafico).highcharts({
            colorAxis: {
                minColor: '#C0D9D9',
                maxColor: '#007FFF'
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: ' + ' ' + simbolo + Highcharts.numberFormat(this.point.value, 0);
                }
            },
            series: [{
                type: "treemap",
                layoutAlgorithm: 'squarified',
                cursor: 'pointer',
                point: {
                    events: {
                        click: function (e) {
                            var clicked = this;
                            if (this.ownURL)
                                window.open(this.ownURL.replace('{ncm}', this.name).replace('{descricao}', '@Request["descricao_detalhada_produto"]'), "_self");
                        },
                        mouseOver: function () {
                            document.getElementById('ncmDescID').innerHTML = this.ownDESC;
                        },
                        mouseOut: function () {
                            document.getElementById('ncmDescID').innerHTML = '';
                        }
                    }
                },
                data: series
            }],
            title: {
                text: text
            }
        });
    }

    function DreawChartBarra(categorias, series, nm_grafico, text, simbolo, nm_coluna) {
        $('#' + nm_grafico).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: text
            },
            xAxis: {
                categories: categorias
            },
            yAxis: {
                min: 0,
                title: {
                    text: nm_coluna
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + simbolo + Highcharts.numberFormat(this.y, 0) + '<br/>' +
                        'Total: ' + simbolo + Highcharts.numberFormat(this.point.stackTotal, 0);
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: [{
                name: nm_coluna,
                data: series
            }]
        });
    }

    function DreawChartBarraStacked(categorias, serievalues, nm_grafico, text, simbolo, nm_coluna) {
        $('#' + nm_grafico).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: text
            },
            xAxis: {
                categories: categorias
            },
            yAxis: {
                min: 0,
                title: {
                    text: nm_coluna
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + simbolo + Highcharts.numberFormat(this.y, 0) + '<br/>' +
                        'Total: ' + simbolo + Highcharts.numberFormat(this.point.stackTotal, 0);
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: serievalues
        });
    }
    function updateSearchHeader(url, parametros) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: parametros,
            dataType: "json",
            success: function (Result) {
                Result = Result.d;
                console.log('Result=> ' + Result);
                if (Result.split('|').length > 0) {
                    document.getElementById('searchStringHeader').innerHTML = '<div style="font-size:14px;float: left;margin: 5px"><strong>Busca: </strong>' + Result.split('|')[0] +
                        '</div><div style="font-size:14px;float: left;margin: 5px"><strong> Total de NCM´s: </strong>' + Result.split('|')[1] +
                        '</div><div style="font-size:14px;float: left;margin: 5px"><strong> Total de DI´s: </strong>' + Result.split('|')[2] +
                        '</div><div style="font-size:14px;float: left;margin: 5px"><strong> Total de CE´s: </strong>' + Result.split('|')[3] + '</h1>';
                }
            },
            error: function (Result) {
                console.log("Houve um erro ao cerregar dados do Header.");
            }
        });
    }
</script>