<!DOCTYPE html>
<html lang="nl-nl" id="@ViewBag.PageId">
@Html.Partial("_Head")
<body class="gray_background  desktop-detected pace-done">
    @Html.Partial("_Header")

    @RenderBody()
    
    @Html.Partial("_Footer")
</body>
</html>